In [1]:
import pandas as pd
df=pd.read_csv('04_02_2019.csv')

#data replacing

#Optimised code 

rename_stages = {
    'THORAIPAKK': 'THORAIPAKKAM',
    'ANNA UNIVE': 'ANNA UNIV',
    'MOOTAIKARA': 'M K CHAVADI',
    'SHOZHANGAN|SHOZHINGAN': 'SHOLINGANALLUR',
    'KOMAN NGR': 'KUMARAN NG',
    'M.K. CHAVA': 'M K CHAVADI',
    'WOMENS POL': 'WPTC',
    'THIRUPPORU': 'THIRUPORUR'
}

df = df.replace(rename_stages, regex=True)

In [2]:

df['Source'] = df['Source'].str.strip()
df['From Stage'] = df['From Stage'].str.strip()
df['To Stage'] = df['To Stage'].str.strip()
cols=['Schedule Name','Adult','From Stage','To Stage','Trip Start Time','Trip End Time','Source','Destination']
df=df[cols]

name=input("Enter Schedule Name: ")
#source=input("Enter Source: ")
#destination=input("Enter Destination: ")
start_time=input("Enter Trip Start Time ")
end_time=input("Enter Trip End Time ")
df=df[df['Schedule Name']==name]
df=df[(df['Source'] == 'T.NAGAR') & (df['Destination']=='THIRUPORUR')]
df=df[(df['Trip Start Time']==start_time) & (df['Trip End Time']==end_time)]

cols=['From Stage','To Stage','Adult']
df=df[cols]
df

Enter Schedule Name: 519-E1-AS-MDE
Enter Trip Start Time 08:56:00
Enter Trip End Time 11:15:00

       From Stage    To Stage  Adult
49827     T.NAGAR        WPTC      2
49828     T.NAGAR   SRP TOOLS      1
49829     T.NAGAR   SRP TOOLS      1
49830     T.NAGAR        WPTC      1
49831     T.NAGAR   SRP TOOLS      1
...           ...         ...    ...
50743     NAVALUR  KELAMBAKKA      2
50783     NAVALUR  KELAMBAKKA      1
50785     NAVALUR  THIRUPORUR      1
50786     NAVALUR  KELAMBAKKA      1
50825  KALAVAKKAM  THIRUPORUR      1

[86 rows x 3 columns]

In [3]:
#displaying from_stages 
arr1=df['From Stage'].unique()
arr1

array(['T.NAGAR', 'SAIDAPET', 'ANNA UNIV', 'THORAIPAKKAM', 'CHURCH',
       'WPTC', 'M K CHAVADI', 'KARAPAKKAM', 'SHOLINGANALLUR',
       'KUMARAN NG', 'CHEMMANCHE', 'NAVALUR', 'KALAVAKKAM'], dtype=object)

In [4]:
arr2=df['To Stage'].unique()
arr2

array(['WPTC', 'SRP TOOLS', 'KELAMBAKKA', 'THORAIPAKKAM', 'CHURCH',
       'SHOLINGANALLUR', 'HINDUSTAN', 'SAIDAPET', 'THIRUPORUR',
       'KANDANCHAV', 'KARAPAKKAM', 'M K CHAVADI', 'PAL. CHEMI',
       'KALAVAKKAM', 'NAVALUR', 'KUMARAN NG', 'CHENGAMMAL'], dtype=object)

In [5]:
import pandas as pd

bus_stages = [
    'T.NAGAR', 'SAIDAPET', 'ANNA UNIV', 'WPTC', 'SRP TOOLS',
    'KANDANCHAV', 'THORAIPAKKAM', 'M K CHAVADI', 'KARAPAKKAM',
    'SHOLINGANALLUR', 'KUMARAN NG', 'CHEMMANCHE', 'NAVALUR',
    'SIPCOT', 'CHURCH', 'PAL. CHEMI', 'HINDUSTAN', 'KELAMBAKKA',
    'KOMAN NAGAR', 'ENGG', 'CHENGAMMAL', 'KALAVAKKAM','THIRUPORUR'
]

stage_mapping = {stage: i for i, stage in enumerate(bus_stages)}

df['From Stage'] = df['From Stage'].map(stage_mapping)
df['To Stage'] = df['To Stage'].map(stage_mapping)

df.dropna(subset=['From Stage', 'To Stage'], inplace=True)

#create an empty OD matrix
od_matrix = pd.DataFrame(index=range(len(bus_stages)), columns=range(len(bus_stages))).fillna(0)

# populating the matrix 
for index, row in df.iterrows():
    source = int(row['From Stage'])
    destination = int(row['To Stage'])
    adult_count = row['Adult']
    od_matrix.loc[source, destination] += adult_count if not pd.isna(adult_count) else 0

od_matrix['Boarding'] = od_matrix.sum(axis=1)
od_matrix.loc['ALIGHTING'] = od_matrix.sum(axis=0)

#display the entire df
print(od_matrix.to_string())

           0  1  2  3   4  5  6  7   8  9  10  11  12  13  14  15  16  17  18  19  20  21  22  Boarding
0          0  2  0  5   7  1  1  1   5  1   0   0   0   0   5   0   1   1   0   0   0   0   1        31
1          0  0  0  0   0  1  1  0   1  1   0   0   0   0   0   0   0   0   0   0   0   0   0         4
2          0  0  0  0   3  1  0  0   0  0   0   0   0   0   1   0   0   0   0   0   0   0   0         5
3          0  0  0  0   0  1  0  3   4  0   0   0   1   0   0   0   0   1   0   0   0   0   3        13
4          0  0  0  0   0  0  0  0   0  0   0   0   0   0   0   0   0   0   0   0   0   0   0         0
5          0  0  0  0   0  0  0  0   0  0   0   0   0   0   0   0   0   0   0   0   0   0   0         0
6          0  0  0  0   0  0  0  1   0  1   1   0   4   0   0   1   0   0   0   0   0   0   0         8
7          0  0  0  0   0  0  0  0   0  1   0   0   1   0   0   0   0   3   0   0   0   0   0         5
8          0  0  0  0   0  0  0  0   0  0   1   0   2   0   0   0   0   0   0   0   0   0   0         3
9          0  0  0  0   0  0  0  0   0  0   0   0   5   0   0   0   0   5   0   0   0   0   2        12
10         0  0  0  0   0  0  0  0   0  0   0   0   0   0   0   0   0   1   0   0   0   0   2         3
11         0  0  0  0   0  0  0  0   0  0   0   0   0   0   0   0   0   1   0   0   1   0   0         2
12         0  0  0  0   0  0  0  0   0  0   0   0   0   0   0   0   0   4   0   0   0   0   2         6
13         0  0  0  0   0  0  0  0   0  0   0   0   0   0   0   0   0   0   0   0   0   0   0         0
14         0  0  0  0   0  0  0  0   0  0   0   0   0   0   0   0   1   1   0   0   0   1   0         3
15         0  0  0  0   0  0  0  0   0  0   0   0   0   0   0   0   0   0   0   0   0   0   0         0
16         0  0  0  0   0  0  0  0   0  0   0   0   0   0   0   0   0   0   0   0   0   0   0         0
17         0  0  0  0   0  0  0  0   0  0   0   0   0   0   0   0   0   0   0   0   0   0   0         0
18         0  0  0  0   0  0  0  0   0  0   0   0   0   0   0   0   0   0   0   0   0   0   0         0
19         0  0  0  0   0  0  0  0   0  0   0   0   0   0   0   0   0   0   0   0   0   0   0         0
20         0  0  0  0   0  0  0  0   0  0   0   0   0   0   0   0   0   0   0   0   0   0   0         0
21         0  0  0  0   0  0  0  0   0  0   0   0   0   0   0   0   0   0   0   0   0   0   1         1
22         0  0  0  0   0  0  0  0   0  0   0   0   0   0   0   0   0   0   0   0   0   0   0         0
ALIGHTING  0  2  0  5  10  4  2  5  10  4   2   0  13   0   6   1   2  17   0   0   1   1  11        96