In [11]:
import pandas as pd
import numpy as np
import os 

#input for any file name
file_name=input("Enter File Name: ")
journey=input("Enter 'up' or 'down': ").lower()
file_path=os.path.join('week_data',journey, file_name)

if not os.path.isfile(file_path):
    print(f"Error: File '{file_name}' does not exist.")
else:
    df=pd.read_csv(file_path)

Enter File Name: 04-02-19.csv
Enter 'up' or 'down': up

In [12]:
#Only 519 buses
bus_no = int(input("Enter bus Number: "))
df = df[df['Schedule Name'].str.contains(rf'\b{bus_no}\b')]

Enter bus Number: 519

In [13]:
df=df[(df['Source']=='T.NAGAR') & (df['Destination']=='THIRUPORUR')]

source_stage=input("Enter source: ")
destination_stage=input("Enter destination: ")
df=df[(df['Source']==source_stage) & (df['Destination']==destination_stage)]

cols=['Schedule Name','Adult','Trip Start Time','Trip End Time','Source','Destination']
#sort based on trip start time 
df=df.sort_values(by='Trip Start Time')
df=df[cols]
df['Passenger Count'] = df.groupby(['Schedule Name', 'Trip Start Time', 'Trip End Time'])['Adult'].transform('sum')

df=df.drop(columns=['Adult'])
df=df.drop_duplicates()
df

Enter source: T.NAGAR
Enter destination: THIRUPORUR

,Schedule Name,Trip Start Time,Trip End Time,Source,Destination,Passenger Count
47724,519-K1-AS-MDE,00:00:00,00:53:00,T.NAGAR,THIRUPORUR,43
47586,519-N1-AS-MDE,00:01:48,01:09:48,T.NAGAR,THIRUPORUR,24
51267,519-X1-AS-MDE,00:01:50,01:46:50,T.NAGAR,THIRUPORUR,79
49818,519-N1-AS-MDE,00:18:00,01:26:00,T.NAGAR,THIRUPORUR,91
47802,519-K1-AS-MDE,00:21:00,02:15:00,T.NAGAR,THIRUPORUR,16
...,...,...,...,...,...,...
50863,519-V1-AS-MDE,19:19:00,21:13:00,T.NAGAR,THIRUPORUR,72
51710,519-X1-AS-MDE,19:25:56,21:26:56,T.NAGAR,THIRUPORUR,62
48056,519-C1-AS-MDE,20:33:56,21:01:56,T.NAGAR,THIRUPORUR,5
51204,519-W1-AS-MDE,21:27:02,22:47:02,T.NAGAR,THIRUPORUR,72
51796,519-S-AS-MDE,22:22:32,23:25:32,T.NAGAR,THIRUPORUR,60